body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:5892px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:5892px;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:1234px;
  width:699px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
