body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1057px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2948px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2948px;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u784_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:750px;
  height:78px;
  background-image:none;
}
#u784_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:78px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:78px;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:-2px;
  width:374px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u787 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:156px;
  width:112px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:287px;
  width:30px;
  height:40px;
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:342px;
  width:240px;
  height:36px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:271px;
  width:30px;
  height:40px;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.666666666666667);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:2202px;
  width:250px;
  height:66px;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
