body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2270px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2270px;
}
#u1044_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:706px;
  width:107px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:817px;
  width:273px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
