body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2124px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2124px;
}
#u986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:1310px;
  width:630px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u988 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:1390px;
  width:74px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u989 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:278px;
  width:62px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
