body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2317px;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2317px;
}
#u944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2317px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2317px;
}
#u945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:324px;
  width:100px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u947 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:384px;
  width:100px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u948 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:536px;
  width:138px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u949 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:536px;
  width:56px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u950 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:610px;
  width:138px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u951 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:610px;
  width:56px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u952 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:684px;
  width:138px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u953 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:684px;
  width:56px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u954 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:758px;
  width:138px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u955 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:758px;
  width:56px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u956 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:830px;
  width:138px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u957 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:830px;
  width:56px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u958 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:1246px;
  width:202px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u959 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:1602px;
  width:216px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u960 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1716px;
  width:202px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
